* {
  overflow: auto;
  box-sizing: border-box;
}

html , body {
  background: #fafafa; 
  color: #00000;
  font-family: 'MalgunGothic', Helvetica;
  margin: 0; 
  padding: 0;
}

#profileContainer {
  text-align: center;
  color: white;
  padding-top: 10vh;
  background-image: url(/images/background.jpeg);
  background-size: cover;
  background-position: 50% 50%; 
}

img.profile {
  border-radius: 50%;
  width: 200px;
  box-shadow: rgba(0,0,0,.2) 0px 5px 5px;
}

img.image {
  border-radius: 5px;
  width: 300px;
}

.nav {
  text-align: center;
}
.nav a.item {
  color: #ffffff;
  padding: 10px;
  margin: 0;
  border: 1px solid #19B5FE;
  border-radius: 5px;
  background-color: #22A7F0;
}
.nav a.item:hover {
  border-color: #1F4788;
  background-color: #4B77BE;
}

.container {
  margin: 0;
  padding: 40px 120px;
}

a[href],
a[href]:focus,
a[href]:active,
a[href]:hover {
  display: inline-block;
  text-decoration: none;
}

a{color: #005bac;}
a:focus, a:active, a:hover{color: #003674;}

ul {
  line-height: 2.0;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: #fff;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

blockquote {
  font-family: consolas,monospace;
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin: 5px auto;
  background: #eee;
  border-radius: 3px;
  line-height: 1.5em;
  color: #333;
}

table.table {
  border: 1px solid #ccc;
  border-radius: 5px;
}
table.table th, table.table td, table.table tr {
  border: 0;
}
table.table th, table.table td {
  padding: 7px 14px;
}

footer {
  border-top: 1px solid #ccc;
  background: #fff;
  text-align: center;
  padding: 15px 30px;
}