* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
canvas {
  border: 5px solid #ccc;
  width: 860px;
  height: 640px;
  position: relative;
  z-index: 1;
}
canvas#cover {
  position: absolute !important;
  background: transparent;
  cursor: crosshair;
  z-index: 10 !important;
}
nav {
  float: left;
  max-width: 300px;
  width: 100%;
  margin: 0;
  padding: 1em;
}
.input-control {
  display: block;
  margin: 0 auto;
}
.fluid {
  display: block;
  width: 100%;
}
input[type=text], input[type=number] {
  padding: 10px 20px;
}
input[type=text], input[type=number], input[type=submit], input[type=button] {
  font-size: 12pt;
}
input[type=button], input[type=submit], button {
  cursor: pointer;
  min-height: 1em;
  outline: 0;
}
.wrapper {
  margin-left: 320px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}

.button-group .icon.button {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.button-group .icon.button img {
  max-width: 30px;
  width: 100%;
}
.button-group {
  margin-top: 5px;
}
.button {
  background: #eee;
  border: 1px solid #ccc;
  border-bottom-width: 3px;
  margin-top: 5px;
  padding: 10px;
}
.button:after, .button:before {
  content: '';
}
.button:active {
  border-bottom-width: 1px;
  margin-top: 7px;
}
.icon.button {
  padding: 3px !important;
}
.button-group .button {
  float: left;
  margin-right: 7px;
}
.button-group:after {
  clear: both;
}