* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
canvas {
  border: 5px solid #ccc;
  width: 860px;
  height: 640px;
  position: relative;
  z-index: 1;
}
canvas#cover {
  position: absolute !important;
  background: transparent;
  cursor: crosshair;
  z-index: 10 !important;
}
nav {
  float: left;
  max-width: 300px;
  width: 100%;
  margin: 0;
  padding: 1em;
}
.input-control {
  display: block;
  margin: 0 auto;
}
.input-control.fluid {
  width: 100%;
}
input[type=text], input[type=number], input[type=submit], input[type=button] {
  padding: 10px 20px;
  font-size: 12pt;
}
input[type=button], input[type=submit], button {
  cursor: pointer;
  min-height: 1em;
  outline: 0;
}
.wrapper {
  margin-left: 320px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}
button.color-sample {
  display: block;
  width:100%;
  height:30px;
  margin-top: 5px;
}

.button-group .icon.button {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.button-group .icon.button img {
  max-width: 30px;
  width: 100%;
}
.button-group {
  margin-top: 5px;
}
